@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Tomorrow:wght@100;300;400;700;900&display=swap');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; // 1rem = 10px
}

body {
	box-sizing: border-box;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	background-color: $theme-color-blue-2;
	//background-image: linear-gradient(to right bottom, $theme-color-blue-2 40%, $theme-color-blue-3 100%);
}

input {
	font-family: inherit;
	font-size: inherit;
}
