@use 'variables' as *;

.search {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $theme-color-white;

	position: relative;
	height: 6rem;
	width: 100%;

	@include breakpoint(small) {
		height: 8rem;
	}

	.container {
		height: 6rem;
		justify-content: space-between;
		align-items: center;

		@include breakpoint(small) {
			height: 8rem;
		}
	}

	&__city {
		font-size: 1.4rem;
		margin: 1rem;
		font-weight: 700;
		width: 260px;
		text-align: center;

		@include breakpoint(small) {
			font-size: 1.6rem;
		}

		@include breakpoint(medium) {
			font-size: 1.8rem;
		}
	}

	&__bar {
		width: 100%;
		max-width: 400px;
		height: 100%;
	}

	&__input {
		border: none;
		height: 100%;
		width: 100%;
		display: block;
		background-color: $theme-color-white-dark;
		padding: 0 1rem;
		font-size: 1.4rem;
		transform: translateX(100vw);
		transition: all 0.5s ease;

		&:focus {
			outline: none;
		}

		&--active {
			transform: translateX(0vw);
		}

		@include breakpoint(small) {
			font-size: 1.6rem;
		}
	}

	&__input--error::placeholder {
		color: red;
	}

	&__button {
		position: absolute;

		top: 0;
		right: 0;
		opacity: 1;

		width: 6rem;
		height: 100%;

		border: none;
		border-radius: 0;

		display: flex;
		justify-content: center;
		align-items: center;

		background-color: $theme-color-orange;

		transition: 0.5s all;

		&:hover,
		&:focus {
			background-color: #c07316;
			outline: none;
			cursor: pointer;
		}

		ion-icon {
			font-size: 3rem;
			color: $theme-color-blue-1;
		}

		@include breakpoint(small) {
			width: 8rem;
		}
	}
}

.current-temperature {
	width: 100%;
	height: 30rem;

	background-size: cover;
	background-position: center center;

	position: relative;

	@include breakpoint(small) {
		height: 35rem;
	}

	@include breakpoint(medium) {
		height: 45rem;
	}

	@include breakpoint(big) {
		min-height: 300px;
		height: calc(100vh - 8rem - 12rem - 10rem);
	}

	&--thunderstorm-night {
		background-image: linear-gradient(to right bottom, rgba(#000, 0.8), rgba(#000, 0.2)),
			url('/img/thunderstorm-night.jpg');
	}

	&--thunderstorm-day {
		background-image: linear-gradient(to right bottom, rgba(#000, 0.8), rgba(#000, 0.2)),
			url('/img/thunderstorm-day.jpg');
	}

	&--rain-night {
		background-image: linear-gradient(to right bottom, rgba(#000, 0.8), rgba(#000, 0.2)), url('/img/rain-night.jpg');
	}

	&--rain-day {
		background-image: linear-gradient(to right bottom, rgba(#000, 0.8), rgba(#000, 0.2)), url('/img/rain-day.jpg');
	}

	&--snow-night {
		background-image: linear-gradient(to right bottom, rgba(#000, 0.8), rgba(#000, 0.2)), url('/img/snow-night.jpg');
	}

	&--snow-day {
		background-image: linear-gradient(to right bottom, rgba(#000, 0.8), rgba(#000, 0.2)), url('/img/snow-day.jpg');
	}

	&--fog-night {
		background-image: linear-gradient(to right bottom, rgba(#000, 0.8), rgba(#000, 0.2)), url('/img/fog-night.jpg');
	}

	&--fog-day {
		background-image: linear-gradient(to right bottom, rgba(#000, 0.8), rgba(#000, 0.2)), url('/img/fog-day.jpg');
	}

	&--drizzle {
		background-image: linear-gradient(to right bottom, rgba(#000, 0.8), rgba(#000, 0.2)), url('/img/drizzle.jpg');
	}

	&--night {
		background-image: linear-gradient(to right bottom, rgba(#000, 0.8), rgba(#000, 0.2)), url('/img/night.jpg');
	}

	&--day {
		background-image: linear-gradient(to right bottom, rgba(#000, 0.8), rgba(#000, 0.2)), url('/img/day.jpg');
	}

	&--cloud-night {
		background-image: linear-gradient(to right bottom, rgba(#000, 0.8), rgba(#000, 0.2)), url('/img/cloud-night.jpg');
	}

	&--cloud-day {
		background-image: linear-gradient(to right bottom, rgba(#000, 0.8), rgba(#000, 0.2)), url('/img/cloud-day.jpg');
	}

	&__value {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-75%);

		font-size: 8rem;
		color: $theme-color-white;
		font-weight: 700;

		span {
			color: $theme-color-orange;
		}

		@include breakpoint(big) {
			font-size: 10rem;
		}
	}
}

.current-info {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 1.5em;

	&__item {
		width: 100%;
		max-width: 15rem;
		height: 10rem;

		transform: translateY(-50%);

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		@include breakpoint(medium) {
			max-width: 20rem;
			height: 14rem;
		}

		&-box {
			height: 50%;
			width: 100%;
			font-size: 1.6rem;

			display: flex;
			justify-content: center;
			align-items: center;

			@include breakpoint(medium) {
				font-size: 2rem;
			}

			&--1 {
				background-color: $theme-color-blue-2;
				color: $theme-color-white;
			}

			&--2 {
				background-color: $theme-color-white;
			}
		}
	}
}

.forecast-weather {
	margin-top: -1rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;

	.container {
		width: 100%;
		max-width: 1000px;
	}

	&__box {
		position: relative;
		overflow: hidden;
		margin-top: 5rem;
		cursor: grab;
		width: 100%;

		@include breakpoint(medium) {
			margin-top: 7rem;
		}
	}

	&__box-inner {
		display: flex;
		gap: 10px;
		pointer-events: none;
		position: absolute;
		top: 0px;
		left: 0px;
		padding: 0 1rem;
	}

	&__item {
		position: relative;
		overflow: hidden;
		user-select: none;
		text-align: center;
		background-color: $theme-color-white-dark;
		padding: 1rem;

		width: 250px;

		&-date {
			width: 100%;
			font-size: 1.8rem;
			user-select: none;
			margin-bottom: 2rem;
		}

		&-img {
			position: absolute;
			bottom: -7%;
			right: -7%;
			width: 15rem;
			height: 15rem;
			user-select: none;
		}

		&-info {
			font-size: 1.4rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			user-select: none;
		}

		&-box {
			margin-bottom: 1rem;
			user-select: none;
		}
	}
}

.air-polution {
	padding-top: 2rem;
	padding-bottom: 8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 2rem;
	padding-right: 2rem;

	@include breakpoint(medium) {
		padding-top: 4rem;
	}

	.container {
		flex-direction: column;
		max-width: 700px;
	}

	&__box {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		margin-top: 2rem;
	}

	&__header {
		margin-top: 4rem;
		color: $theme-color-white;
		font-size: 1.6rem;

		@include breakpoint(medium) {
			margin-top: 4rem;
		}

		display: flex;
		justify-content: center;
		align-items: center;

		ion-icon {
			font-size: 3rem;
			margin-left: 0.5rem;
		}

		&--good ion-icon {
			color: green;
		}

		&--moderate ion-icon {
			color: #8d6c09;
		}

		&--bad ion-icon {
			color: #750909;
		}

		&--very-bad ion-icon {
			color: #2e0202;
		}
	}

	&__item {
		width: 150px;
		text-align: center;

		@include breakpoint(medium) {
			width: 200px;
		}

		&-box {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			font-size: 1.8rem;

			@include breakpoint(medium) {
				font-size: 2rem;
			}
		}

		&-name {
			width: 100%;
			background-color: $theme-color-white;
			padding: 1rem;

			@include breakpoint(medium) {
				padding: 1.5rem;
			}
		}

		&-value {
			width: 100%;
			padding: 1rem;
			background-color: $theme-color-blue-1;
			color: $theme-color-white;

			@include breakpoint(medium) {
				padding: 1.5rem;
			}
		}

		&--good {
			border-bottom: 8px solid green;
		}

		&--very-bad {
			border-bottom: 8px solid #2e0202;
		}

		&--bad {
			border-bottom: 8px solid #750909;
		}

		&--moderate {
			border-bottom: 8px solid #8d6c09;
		}
	}
}
