@use 'variables' as *;

.container {
	display: flex;
	width: 100%;
	max-width: 1200px;
	margin: auto auto;
	position: relative;
	overflow: hidden;
}

.header {
	text-align: center;
	width: auto;
	font-size: 1.6rem;

	color: $theme-color-white;

	span {
		padding: 0 1rem 0.5rem;
		border-bottom: 2px solid $theme-color-orange;
	}

	@include breakpoint(medium) {
		font-size: 2rem;
	}
}

.navbar {
	width: 100%;
	padding: 2rem 1rem;

	display: flex;
	justify-content: center;
	align-items: center;

	@include breakpoint(small) {
		padding: 3rem 1.5rem;
	}

	.container {
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	&__logo {
		font-family: 'Tomorrow', sans-serif;
		color: $theme-color-white;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		line-height: 1;

		&--main {
			font-size: 3.6rem;
			text-shadow: 2px 2px $theme-color-orange;

			@include breakpoint(small) {
				font-size: 4rem;
			}
		}

		&--sub {
			font-size: 1.8rem;

			@include breakpoint(small) {
				font-size: 2rem;
			}
		}
	}
}

.navigation {
	display: flex;
	column-gap: 1rem;

	font-size: 1.6rem;
	color: $theme-color-white;

	@include breakpoint(small) {
		font-size: 1.8rem;
	}

	a {
		transition: 0.5s all;

		&:hover {
			color: $theme-color-orange;
		}
	}

	&__lang {
		@include breakpoint(small) {
			margin-right: 1rem;
		}

		&-item {
			cursor: pointer;

			transition: 0.5s all;

			&:hover {
				color: $theme-color-orange;
			}

			&--pl {
				margin-right: 0.5rem;
			}

			&--en {
				margin-left: 0.5rem;
			}

			&--active {
				font-weight: 900;
				color: $theme-color-orange;
			}
		}
	}

	&__link:link,
	&__link:visited {
		text-decoration: none;
		color: $theme-color-white;
	}
}

.footer {
	padding: 3rem;
	background-color: $theme-color-blue-1;
	display: flex;
	justify-content: center;
	color: $theme-color-white-dark;
	font-size: 1.4rem;
}
