$theme-color-blue-1: #0f1026;
$theme-color-blue-2: #1b2040;
$theme-color-blue-3: #4973f2;
$theme-color-orange: #f2911b;
$theme-color-white: #f2f2f2;
$theme-color-white-dark: #ddd;

$font-size-text-small: clamp(1rem, 1rem + 1vw, 1.2rem);
$font-size-text-medium: clamp(1.2rem, 1rem + 1vw, 1.4rem);
$font-size-text-big: clamp(1.4rem, 1rem + 1vw, 1.6rem);
$font-size-text-huge: clamp(1.6rem, 1rem + 1vw, 1.8rem);

$font-size-header-small: clamp(1.6rem, 1rem + 1vw, 2rem);
$font-size-header-medium: clamp(2rem, 1rem + 1vw, 2.4rem);
$font-size-header-big: clamp(2.4rem, 1rem + 1vw, 2.8rem);
$font-size-header-huge: clamp(2.8rem, 1rem + 1vw, 3.2rem);

$breakpoints-up: (
	'small': 30em,
	'medium': 48em,
	'big': 75em,
);

@mixin breakpoint($size) {
	@media (min-width: map-get($breakpoints-up, $size)) {
		@content;
	}
}
